img{
    height: 70px;
    width: 70px;
}

body
{
    background-color: rebeccapurple;
}

#msg
{
width: 700px;
}





















































