 body
{
background-color: blueviolet;
}

#kwitter{
    width: 100px;
    height: 100px;
}

#user_name{
    width: 700px;
}

#message{
    width: 100px;
    height: 100px; 
}




























